<div align='center'>
    <ul>
        <button>
            <a href= "{% url 'home' %}">Home</a>
        </button>
        <button>
            <a href= "{% url 'cadastro_fabricante' %}">Cadastrar Empresa</a>
        </button>  
        <button>
            <a href= "{% url 'fabricantes' %}">Empresas Cadastradas</a> 
        </button>
        <button>
            <a href= "{% url 'cadastro_produto' %}">Cadastrar Produtos</a> 
        </button> 
        <button>
            <a href= "{% url 'produtos' %}">Produtos Cadastrados</a> 
        </button>
        <button>
            <a href= "{% url 'sobre' %}">Sobre</a></button>
        <button>
            <a href= "{% url 'contato' %}">Contato</a>
        </button>
        <button>
            <a href= "{% url 'logout' %}">Sair</a>
        </button>
    </ul>
</div>